﻿@model WebApplication1.Models.Oyun

@{
    ViewBag.Title = Model.Adi;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; padding-bottom:0px; ">
    <div class=" row" style="">
        <h4 style="float:left;">@Model.Adi</h4>
        <h5 style="float:right; color:rgba(87, 250, 71, 0.89);">@Model.Puan</h5>
        <h5 style="float:right; color:rgb(179, 179, 179);">Site Puanı :</h5>

    </div>
</div>


<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="">
        @(Model.Adi)
    </div>
    <div class="row" style="padding-bottom: 3%; padding-top: 2%; border-top: 1px solid #232323;">
        <div class="col-xs-4 col-sm-4 col-md-2" style="">
            <img src="@(Model.cover)" style="width: 100%; border: 5px solid #232323;" />
        </div>

        <div class="col-xs-8 col-sm-8 col-md-10">
            <div class="col-xs-12">
                <div class="row" style="color: rgba(143, 143, 143, 0.80)" align="left">
                    <p style="font-size:13px;">
                        @Model.Tanitim
                    </p>
                </div>
                <div class="row" style=" color:rgba(141, 255, 240, 0.74);font-size:14px; ">
                    <p style="color: rgba(187, 74, 74, 0.95); float: left;">Kategori:</p>
                    <p style="float:left">@(Model.Kategori) </p>
                    <p style="color: rgba(187, 74, 74, 0.95); float: right; ">
                        Platform:<img src="/img/icon/@(Model.Platform).png" style="width:20px; height:20px;" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" border-top: 1px solid #232323;">
        <div class=" col-md-5" style="">
            <div class="row" style="">
                <div class="col-xs-12">

                    <div class='embed-container'><iframe src='@Model.Video' frameborder='0'></iframe></div>

                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr1)'); background-size:cover;"></div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr2)'); background-size:cover;"></div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr3)'); background-size:cover;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr4)'); background-size:cover;"></div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr5)'); background-size:cover;"></div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr" id="myImg" data-toggle="modal" data-target="#myModal" style="border:1px solid #232323; width:100%; padding-top:56.25%; background-image:url('@(Model.scr6)'); background-size:cover;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" border-top: 1px solid #232323;">
        <div class="col-md-6">
            <h5 style="color:rgba(248, 123, 116, 0.92)">Minimum Sitem Gereksinimleri</h5>
            <hr />
            <div class="row" style="color:rgba(143, 143, 143, 0.80)" align="center">
                <p style="font-size:13px;">
                    @Model.MinSistem
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color:rgba(120, 197, 255, 0.89)">Önerilen Sitem Gereksinimleri</h5>
            <hr />
            <div class="row" style="color: rgba(143, 143, 143, 0.80)" align="center">
                <p style="font-size:13px;">
                    @Model.OnerilenSistem
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border:solid 1px #808080; background-color:rgba(47, 47, 47, 0.38)">
            @(Model.Adi) CD-KEY SATIN ALIN @(Model.Fiyat) ₺
            <a class="btn btn-danger btn-md" href="@Url.Action("Oyun", "Odeme", new { oyunId=Model.Id})">Sepete Ekle</a>
        </div>
    </div>
</div>



<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; ">
    <div class="row" id="GradTransparanSiyahTransparan" style="" align="center">
        YORUMLAR
    </div>
    @foreach (var item in Model.Yorumlar)
    {
        <div class="row" style="padding-bottom: 3%; padding-top: 2%; border-top: 1px solid #232323; border-bottom: 1px solid #232323;">
            <div class="col-xs-3 col-sm-2 col-md-1" style="font-size:13px; " align="center">
                @item.Kullanici.KullaniciAdi
                <br />
                <img class=" img-rounded" id="profilResmi" src="/img/profil/@(item.Kullanici.ProfilResmi)" />
            </div>
            <div class="col-xs-9 col-sm-10 col-md-11" id="yorum">
                <p style="">
                    @item.Icerik
                </p>
            </div>
        </div>
    }
    @if (Session["KullaniciID"] != null)
    {
        <div class="row" style="">
            @using (Html.BeginForm("Oyun", "Oyun", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                  @Html.AntiForgeryToken()
                <div class="form-group">
                    <label style="font-size:14px; color:rgba(123, 123, 123, 0.81)" for="comment">Görüşünüzü Paylaşın :</label>
                    @Html.Hidden("OyunID", Model.Id)
                    @Html.Hidden("KullaniciID", Session["KullaniciID"])
                    @Html.Hidden("YorumTuru", "Oyun")
                    @Html.TextArea("Icerik", null, new { @class = "form-control", placeholder = "Mesajınız", rows = 6, columns = 40 })
                </div>
                <button type="submit" class="btn btn-default" style="color:white; background-color:rgba(117, 117, 117, 0.93)" name="yorum_buton">Yorum Ekle</button>
            }

        </div>
    }
</div>




<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class="row" style="border:1px solid #232323; padding-bottom:4%;">
        <div class="col-md-7">
            <ul class="nav nav-tabs" style="border-bottom: 1px solid #232323;">
                <!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
                <li class="active"><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px;" data-toggle="tab" href="#menu1">Yeni Çıkanlar</a></li>
                <li><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px; " data-toggle="tab" href="#menu2">Çok Satanlar</a></li>
            </ul>
            <div class="tab-content" style="width: 100%; font-size: 13px; color: rgb(208, 208, 208); border-right: 1px solid #232323;">
                <!--<div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>-->
               
                <div id="menu1" class="tab-pane active">
                    @Html.Action("TabYeniCikanlar", "Oyun")
                </div>
                <div id="menu2" class="tab-pane fade">
                    @Html.Action("TabCokSatanlar", "Oyun")
                </div>
            </div>
        </div>
        <div class="col-md-5" style="">
            <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                <h4>BENZER ÜRÜNLER</h4>
            </div>

            <div class="row">
                @Html.Action("TabBenzerler", "Oyun", new { oyn = Model })
            </div>
        </div>
    </div>
</div>




<div id="myModal" class="modal fade" role="dialog">

    <span class="close" data-dismiss="modal">&times;</span>
    <div class="modal-content">
        <div class="modal-body">
            <img class="img-responsive" src="" />
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.Scr').on('click', function () {
            var bg = $(this).css('background-image');
            var image = bg.replace(/^url\(/, "");
            image = image.replace(/\)/, "");
            image = image.replace(/\"/, "");
            image = image.replace(/\"/, "");
            $('#myModal').on('show.bs.modal', function () {
                $(".img-responsive").attr("src", image);
            });
        });
    });
</script>
