﻿@model IEnumerable<WebApplication1.Models.Oyun>
@{
    ViewBag.Title = "Oyunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="background-color: rgba(0, 0, 0, 0.94); min-width:100%; padding:3%;" align="center">
    SLİDER
</div>
 <br />
<div class="container" style="background-color: rgba(0, 0, 0, 0.94); min-width:100%;" align="center">
    @ViewData["Kategori"] Oyunları
</div>
    <br />
    <div class="container" style="min-width:100%; padding:0px; padding-bottom:3%;">
        <div class="col-md-9" style="margin:0px; padding:0px; padding-right:1%; padding-bottom:2%;">
            <div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Oyun", "Oyun", new { id=item.Id})">
                        <div class=" col-xs-6 col-md-3" style="border: 1px solid #232323; margin: 0px; padding-top:3%; padding-bottom: 3%;">
                            <img id="cover" src="@(item.cover)" />
                            <div class="row" id="info">
                                @item.Adi
                                <br />
                                <span class="text-primary">@(item.Fiyat) ₺</span>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <br />
            <button class="btn btn-default" style="background-color: rgba(0, 0, 0, 1); color: white; width:100%; border:1px solid #000000">DAHA FAZLA GÖSTER</button>


        </div>
        <div class="col-md-3" style="margin:0px; padding:0px;">
            <div class="container" style="background-color:rgba(0,0,0,94); padding:2%;">
                <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                    <h4>KATEGORİLER</h4>
                </div>
                <a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Aksiyon"})"><input type="button" id="ktgr" value="Aksiyon" style="min-width:100%;" /><br /></a>
                <a href="@Url.Action("Oyunlar", "Oyun", new { kategori="FPS"})"><input type="button" id="ktgr" value="FPS" style="min-width:100%;" /><br /></a>
                <a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Eglence"})"><input type="button" id="ktgr" value="Eğlence" style="min-width:100%;" /><br /></a>
                <a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Macera"})"><input type="button" id="ktgr" value="Macera" style="min-width:100%;" /><br /></a>
                <a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Simulasyon"})"><input type="button" id="ktgr" value="Simülasyon" style="min-width:100%;" /><br /></a>
                <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                </div>
            </div>
        </div>
    </div>
