﻿@model IEnumerable<WebApplication1.Models.Oyun>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <a href="@Url.Action("Oyun", "Oyun", new { id=item.Id})">
        <div class=" col-xs-6 col-md-6" style="border: 1px solid #232323; margin: 0px; padding-top:3%; padding-bottom: 3%;">
            <img id="cover" src="@(item.cover)" />
            <div class="row" id="info">
                @item.Adi
                <br />
                <span class="text-primary">@(item.Fiyat) ₺</span>
            </div>
        </div>
    </a>
}