﻿@model IEnumerable<WebApplication1.Models.Oyun>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <a href="@Url.Action("Oyun", "Oyun", new { id=item.Id})">
        <div class="row" id="banner" style="padding-top: 2%;">
            <div class="col-xs-12">
                <div class="col-xs-5" style="padding-left:0px;">
                    <img src="@(item.banner)" style="width:100%;" />
                </div>
                <div class="col-xs-7" id="GradTransparanSiyahTransparan" style=" " align="center">
                    <h5 style="color:white">@(item.Adi)</h5>
                    <h5>@(item.Fiyat) ₺</h5>
                </div>
            </div>
        </div>
    </a>
}