﻿@model WebApplication1.Models.Kullanici

@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Giriş</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.KullaniciAdi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.KullaniciAdi, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323;" })
                    @Html.ValidationMessageFor(model => model.KullaniciAdi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Parola, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Parola, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323;" })
                    @Html.ValidationMessageFor(model => model.Parola)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Giris" class="btn btn-default" style=" color:white; background-color:rgba(0, 0, 0, 0.90); border:1px solid #232323;" />
                </div>
            </div>
        </div>
    }


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>
<br />
<br />
<div class="container" style="height:415px;"></div>