﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SARAYGAME</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/font-awesome.min.css")

</head>
<body style="padding-top:0px; padding-bottom:0px; margin-bottom:0px; margin-top:0px;">
    <div class="row" style="background-color: rgba(0, 0, 0,1); border-bottom: 1px solid #232323; ">
        <div class="container" style="min-width: 75%;">

            <div class="col-xs-12" style="padding-top: 0px; margin-top: 10px; padding-bottom: 0px;">
                <div class="row" style="padding-bottom:10px;">
                    <div class=" col-sm-6" style="padding-bottom:10px;">
                        @using (Html.BeginForm("Ara", "Home", FormMethod.Get))
                        {
                            <div class="input-group" style=" ">
                                <input name="aranan" type="text" class="form-control" style="width: 100%; color: white; background-color: rgba(0, 0, 0, 0.90); max-width: 2000px; " placeholder="@WebApplication1.Resources.HomeTexts.Ara...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" style="color: white; background-color: rgba(0, 0, 0, 0.90); " type="submit">@WebApplication1.Resources.HomeTexts.Git</button>
                                </span>
                            </div>
                        }
                    </div>
                    <div class=" col-sm-6" style="">
                        <div class="col-xs-9 col-md-10" align="left" style="padding:0px;">
                            @if (Session["KullaniciID"] != null)
                            {
                                <div class="row">
                                    <a style="float:left; padding-right:1%;" href="@Url.Action("Index","Kullanici")"> <img class=" img-rounded" id="profilResmi" style="height:40px; width:40px;" src="/img/profil/@(Session["ProfilResmi"]) " /></a>
                                    <span style="float:left; padding:1%;">@Session["KullaniciAdi"] @WebApplication1.Resources.HomeTexts.Bakiyeniz : @Session["Bakiye"] ₺</span>
                                    <a style="float:right; padding:1%;" href="@Url.Action("Cikis","Hesap")"> Çıkış</a>
                                    @if (Session["KullaniciAdmin"] == "1")
                                    {
                                        <a style="float:right; padding:1%;" href="@Url.Action("Index","Admin")"> @WebApplication1.Resources.HomeTexts.AdminPaneli</a>
                                    }
                                </div>
                            }
                            else
                            {
                                <a href="@Url.Action("UyeOl","Hesap")" class="btn btn-default btn-md" style="width: 49%; color: white; background-color: rgba(0, 0, 0, 0.90);">
                                    @WebApplication1.Resources.HomeTexts.UyeOl
                                </a>
                                <a href="@Url.Action("Giris","Hesap")" class="btn btn-default btn-md" style="width: 49%; color: white; background-color: rgba(0, 0, 0, 0.90); ">
                                    @WebApplication1.Resources.HomeTexts.GirisYap
                                </a>
                            }
                        </div>
                        <div class="col-xs-3 col-md-2" align="right" style="padding:0px;">
                            <a href="@Url.Action("Degistir", "Dil", new { LanguageAbbrevation="tr"},null)"><img src="/img/lang/tr.png" style="width:30%;" /></a>
                            <a href="@Url.Action("Degistir", "Dil", new { LanguageAbbrevation="en"},null)"><img src="/img/lang/en.png" style="width:30%;" /></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-inverse" style="background-color:#131212; color:white; border-width:0px;">
            <div class="container" style="min-width:75%;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" id="" style="color:white;" href="@Url.Action("Index","Home")"><img src="~/img/icon/site.png" style="height:25px; width:50px; padding:0px;" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>   -->
                        <li class="dropdown">
                            <a id="" style=" color:white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@WebApplication1.Resources.HomeTexts.Oyunlar <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Aksiyon"})">@WebApplication1.Resources.HomeTexts.Aksiyon</a></li>
                                <li><a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Macera"})">@WebApplication1.Resources.HomeTexts.Macera</a></li>
                                <li><a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Strateji"})">@WebApplication1.Resources.HomeTexts.Strateji</a></li>
                                <li><a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Spor"})">@WebApplication1.Resources.HomeTexts.Spor</a></li>
                                <li><a href="@Url.Action("Oyunlar", "Oyun", new { kategori="Yaris"})">@WebApplication1.Resources.HomeTexts.Yaris</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Index", "Oyun")">TÜMÜ</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a id="" style="color:white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@WebApplication1.Resources.HomeTexts.OnlineOyunlar <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">MMORPG</a></li>
                                <li><a href="#">FPS</a></li>
                                <li><a href="#">TPS</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a id="" style="color:white;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@WebApplication1.Resources.HomeTexts.Donanim <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">KLAVYE</a></li>
                                <li><a href="#">MOUSE</a></li>
                                <li><a href="#">KULAKLIK</a></li>
                                <li><a href="#">KONSOL</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li><a id="" style="color:white;" href="#">@WebApplication1.Resources.HomeTexts.OyunEsyalari</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a id="" style="color:white;" href="#">@WebApplication1.Resources.HomeTexts.Hakkimizda</a></li>
                        <li><a id="" style="color:white;" href="@Url.Action("Iletisim", "Home")">@WebApplication1.Resources.HomeTexts.Iletisim</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="container body-content" style="min-width:75%; min-height:624px;">
        @RenderBody()
    </div>
    <footer style="padding-bottom:0px; bottom:0; width:100%;">

        <div class="container" style="padding-bottom:0px;">
        </div>
        <div class="row" style="background-color: rgb(0, 0, 0); " align="center">
            <div class="row">
                <h4>SARAYGAME</h4>
                <p id="yorum"> Copyright 2016 SarayGame San. ve Tic. A.Ş.</p>
            </div>
            <div class="row">
                <a id="" style="color:white;" href="@Url.Action("Iletisim", "Home")">@WebApplication1.Resources.HomeTexts.Iletisim</a>
                |
                <a id="" style="color:white;" href="#">@WebApplication1.Resources.HomeTexts.Hakkimizda</a>
            </div>
            <div class=" row">
                <a href="#" style="color:white;"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a>
                <a href="#" style="color:white;"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i> </a>
                <a href="#" style="color:white;"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                <a href="#" style="color:white;"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
            </div>
            <a href="#">
                <img alt="" src="http://www.credit-card-logos.com/images/visa_credit-card-logos/visa_mastercard_1.gif" width="166" height="50" border="0" />
            </a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
