﻿
@{
    ViewBag.Title = "_LayoutUrunler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class=" row">
        <h2 style="color:white;">@Html.ActionLink("Yaptığım Layout Sayfasına Gitmek İçin Tıklayınız", "Oyun", "Home")</h2>
    </div>
</div>
<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class=" row">
        <div class="col-md-6" style="padding-bottom:20px;">
            <div class="row" style="width: 100%; padding-top: 56.25%; border: 1px solid #232323; ">

            </div>
        </div>
        <div class="col-md-6">
            <div class="row">

                <div class="col-xs-6" style="padding-bottom:20px;">
                    <div class="row" style=" width: 100%; padding-top:120%; border: 1px solid #232323; ">

                    </div>
                </div>

                <div class="col-xs-6" style="padding-bottom:20px;">
                    <div class="row" style="width: 100%; padding-top: 120%; border: 1px solid #232323; ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class=" row">
        <div class="col-md-6" style="padding-bottom:20px;">
            <div class="row">

                <div class="col-xs-6">
                    <div class="row" style=" width: 100%; padding-top:120%; border: 1px solid #232323; ">

                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="row" style="width: 100%; padding-top: 120%; border: 1px solid #232323; ">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-bottom:20px;">
            <div class="row">

                <div class="col-xs-6">
                    <div class="row" style=" width: 100%; padding-top:120%; border: 1px solid #232323; ">

                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="row" style="width: 100%; padding-top: 120%; border: 1px solid #232323; ">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-6" style="padding-bottom:20px;">
            <div class="row">

                <div class="col-xs-6">
                    <div class="row" style=" width: 100%; padding-top:120%; border: 1px solid #232323; ">

                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="row" style="width: 100%; padding-top: 120%; border: 1px solid #232323; ">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-bottom:20px;">
            <div class="row">

                <div class="col-xs-6">
                    <div class="row" style=" width: 100%; padding-top:120%; border: 1px solid #232323; ">

                    </div>  
                </div>

                <div class="col-xs-6">
                    <div class="row" style="width: 100%; padding-top: 120%; border: 1px solid #232323; ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderBody()