﻿
@{
    ViewBag.Title = "_LayoutUrunSayfasi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; padding-bottom:0px; ">
    <div class=" row" style="">
        <h4 style="float:left;">BATTLEFİELD 4</h4>
        <h5 style="float:right; color:rgba(87, 250, 71, 0.89);">95</h5>
        <h5 style="float:right; color:rgb(179, 179, 179);">Site Puanı :</h5>
        
    </div>
</div>

<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="">
      BATTLEFİELD 4
    </div>
    <div class="row" style="padding-bottom: 3%; padding-top: 2%; border-top: 1px solid #232323;" >
        <div class="col-xs-4 col-sm-4 col-md-2" style="">
            <img src="/img/cover/battlefield 4.jpg" style="width: 100%; border: 5px solid #232323;" />
        </div>

        <div class="col-xs-8 col-sm-8 col-md-10">
            <div class="col-xs-12">
                <div class="row" style="color: rgba(143, 143, 143, 0.80)" align="left">
                    <p style="font-size:13px;">
                        Battlefield 4 bir birinci şahıs nişancı video oyunudur ve İsveç’teki EA Digital Illusions CE (DICE) tarafından yapılıp Electronic Arts tarafından yayınlanmıştır.
                        <br />
                        Oyun 2011’de çıkan Battlefield 3’ün devamıdır.
                        <br />
                        Oyun 29 Ekim 2013’te Kuzey Amerika’da, 31 Ekim 2013’te Avustralya’da, 1 Kasım 2013’te Avrupa ve Yeni Zelanda’da, 7 Kasım 2013’te Japonya’da Microsoft Windows, PlayStation 3, PlayStation 4, Xbox 360 ve Xbox One için yayınlanmıştır.
                        <br />
                        Battlefield 4 başarısından ötürü neredeyse bütün eleştirilerden olumlu sonuç almış, özellikle de çevrim içi modu ve grafikleri için artı almıştır.
                        <br />
                        Ancak oyunun tek oyuncu modu hatalarından ve kısalığından ötürü birçok olumsuz eleştiriye maruz kalmıştır.
                    </p>
                </div>
                <div class="row" style=" color:rgba(141, 255, 240, 0.74);font-size:14px; ">
                    <p style="color: rgba(187, 74, 74, 0.95); float: left;">Kategori:</p>
                    <p style="float:left">FPS,Aksiyon,Çok Oyunculu </p>
                    <p style="color: rgba(187, 74, 74, 0.95); float: right; ">
                        Platform:<img src="/img/icon/origin.png" style="width:20px; height:20px;" />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style=" border-top: 1px solid #232323;">
        <div class=" col-md-5" style="">
            <div class="row" style="">
                <div class="col-xs-12">

                    <div class='embed-container'><iframe src='http://www.youtube.com/embed/CrtwqDt0IEk' frameborder='0'></iframe></div>

                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class=" row">
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs1.jpg'); background-size:cover;">
                    </div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs2.jpg'); background-size:cover;">

                    </div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs3.jpg'); background-size:cover;">

                    </div>
                </div>
            </div>
            <div class=" row">
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs4.jpg'); background-size:cover;">

                    </div>
                </div>
                <div class="col-xs-4" style="padding-bottom: 10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs5.jpg'); background-size:cover;">

                    </div>
                </div>
                <div class="col-xs-4" style="padding-bottom:10px;">
                    <div class="Scr " id="myImg" data-toggle="modal" data-target="#myModal" style=" border: 1px solid #232323; width: 100%; padding-top: 56.25%;
                     background-image:url('/img/scr/battlefield 4/scrs6.jpg'); background-size:cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row" style=" border-top: 1px solid #232323;">
        <div class="col-md-6">
            <h5 style="color:rgba(248, 123, 116, 0.92)">Minimum Sitem Gereksinimleri</h5>
            <hr />
            <div class="row" style="color:rgba(143, 143, 143, 0.80)" align="center">
                <p style="font-size:13px;">
                    İşletim Sistemi: Windows Vista veya daha yenisi
                    <br />
                    İşlemci: AMD Athlon X2 2.8 ghz veya Intel Core 2 Duo 2.4 ghz
                    <br />
                    Hafıza: 4GB RAM
                    <br />
                    Ekran Kartı: AMD Radeon HD 3870 veya Nvidia GeForce 8800 GT
                    <br />
                    Ekran Kartı Hafızası: 512 MB
                    <br />
                    Sabit Disk: 30 GB boş alan
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <h5 style="color:rgba(120, 197, 255, 0.89)">Önerilen Sitem Gereksinimleri</h5>
            <hr />
            <div class="row" style="color: rgba(143, 143, 143, 0.80)" align="center">
                <p style="font-size:13px;">
                    İşletim Sistemi: Windows 8 64 Bit
                    <br />
                    İşlemci: AMD 6 çekirdekli işlemci veya Intel 4 çekirdekli işlemci
                    <br />
                    Hafıza: 8 GB RAM
                    <br />
                    Ekran Kartı: AMD Radeon HD 7870 veya Nvidia GeForce GTX 660
                    <br />
                    Ekran Kartı Hafızası: 3GB
                    <br />
                    Sabit Disk: 30 GB boş alan
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="border:solid 1px #808080; background-color:rgba(47, 47, 47, 0.38)">
            BATTLEFİELD 4 CD-KEY SATIN ALIN 29.90 ₺
            <a class="btn btn-danger btn-md"href="#">Sepete Ekle</a>
        </div>
    </div>
</div>

<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; ">
    <div class="row" id="GradTransparanSiyahTransparan" style=""align="center">
       YORUMLAR
    </div>  
    <div class="row" style="padding-bottom: 3%; padding-top: 2%; border-top: 1px solid #232323; border-bottom: 1px solid #232323;">
       <div class="col-xs-3 col-sm-2 col-md-1" style="font-size:13px; "align="center">
           ADMİN
           <br />
           <img class=" img-rounded" id="profilResmi" src="/img/profil/admin.jpg"/>
       </div>
        <div class="col-xs-9 col-sm-10 col-md-11" id="yorum">
            <p style="">
                adasfa sfsagsdhgd fhereasfad asfasfsagsd hgdfhedas fasfsagsdh gdfheda sfasfsa gsdh gdfhedas fasfs agsdhgdfhedasfas fsagsdh gdfhed sfasf sagsd hgdfhedas fasfsagsdh gdfhe dasfas fsagsdhg dfhedas fasfs ags dhgdfhe das fasfsagsd hgdf hedasfasf sagsd hgdfh ed asfasf sagsd hgd fheda sfa sfs agsdh gdfhe

            </p>
               </div>
    </div>
    <div class="row" style="padding-bottom: 3%; padding-top: 2%; border-bottom: 1px solid #232323;">
        <div class="col-xs-3 col-sm-2 col-md-1" style="font-size:13px;" align="center">
            ADMİN
            <br />
            <img class=" img-rounded" id="profilResmi" src="/img/profil/admin.jpg" />
        </div>
        <div class="col-xs-9 col-sm-10 col-md-11" id="yorum">
            ada sfas fsag sd hgdf h erea sf asf24 23d a
        </div>
    </div>
    <div class="row" style="">
        <form >
            <div class="form-group" >
                <label style="font-size:14px; color:rgba(123, 123, 123, 0.81)" for="comment">Görüşünüzü Paylaşın :</label>
                <textarea style="max-width:100%; background-color:rgba(21, 21, 21, 0.93);" class="form-control" rows="5" id="comment" name="mesaj"></textarea>
                <button type="submit" class="btn btn-default" style="color:white; background-color:rgba(117, 117, 117, 0.93)" name="yorum_buton">Yorum Ekle</button>
            </div>
            </form>
</div>
    </div>
@Html.Partial("_PartialTabs")
    <div id="myModal" class="modal fade" role="dialog">

        <span class="close" data-dismiss="modal">&times;</span>
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive" src="" />
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.Scr').on('click', function () {
                var bg = $(this).css('background-image');
                var image = bg.replace(/^url\(/, "");
                image = image.replace(/\)/, "");
                image = image.replace(/\"/, "");
                image = image.replace(/\"/, "");
                $('#myModal').on('show.bs.modal', function () {
                    $(".img-responsive").attr("src", image);
                });
            });
        });
    </script>
    @RenderBody()
