﻿
@{
    ViewBag.Title = "_PartialTabs";
}

<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class="row" style="border:1px solid #232323; padding-bottom:4%;">
        <div class="col-md-7">
            <ul class="nav nav-tabs" style="border-bottom: 1px solid #232323;">
                <!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
                <li class="active"><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px;" data-toggle="tab" href="#menu1">Yeni Çıkanlar</a></li>
                <li><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px; " data-toggle="tab" href="#menu2">Çok Satanlar</a></li>
            </ul>
            <div class="tab-content" style="width: 100%; font-size: 13px; color: rgb(208, 208, 208); border-right: 1px solid #232323;">
                <!--<div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>-->
                <div id="menu1" class="tab-pane active">
                    <a href="#">
                        <div class="row" id="banner" style="padding-top: 2%;">
                            <div class="col-xs-12">
                                <div class="col-xs-5" style="padding-left:0px;">
                                    <img src="/img/banner/call of duty infinite warfare.jpg" style="width:100%; " />
                                </div>
                                <div class="col-xs-7" id="GradTransparanSiyahTransparan" style=" " align="center">
                                    <h5 style="color:white">Call Of Duty İnfinite Warfare</h5>
                                    <h5>139.90 ₺</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row" id="banner" style="padding-top: 2%;">
                            <div class="col-xs-12">
                                <div class="col-xs-5" style="padding-left: 0px;">
                                    <img src="/img/banner/rise of the tomb raider.jpg" style="width: 100%; " />
                                </div>
                                <div class="col-xs-7" id="GradTransparanSiyahTransparan" style=" " align="center">
                                    <h5 style="color:white">Rise OF The Tomb Raider</h5>
                                    <h5>74.90 ₺</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row" id="banner" style="padding-top:2%;">
                            <div class="col-xs-12">
                                <div class="col-xs-5" style="padding-left: 0px;">
                                    <img src="/img/banner/nba2k17.jpg" style="width: 100%; " />
                                </div>
                                <div class="col-xs-7" id="GradTransparanSiyahTransparan" style=" " align="center">
                                    <h5 style="color:white">NBA 2K17</h5>
                                    <h5>149.90 ₺</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="row" id="banner" style="padding-top: 2%;">
                            <div class="col-xs-12">
                                <div class="col-xs-5" style="padding-left: 0px; ">
                                    <img src="/img/banner/battlefield 1.jpg" style="width: 100%; " />
                                </div>
                                <div class="col-xs-7" id="GradTransparanSiyahTransparan" style=" " align="center">
                                    <h5 style="color:white">Battlefield 1</h5>
                                    <h5>184.90 ₺</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>  
                <div id="menu2" class="tab-pane fade">
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="">
            <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                <h4>BENZER ÜRÜNLER</h4>
            </div>
            <div class="row" >
                <div class="col-xs-6" style=" margin: 0px; padding-bottom: 3%;">
                    <img id="cover" src="/img/cover/call of duty infinite warfare.jpg" />
                    <div class="row" id="info">
                        Call OF Duty İnfinite Warfare
                        <br />
                        <span class="text-primary">139.90 ₺</span>
                    </div>
                    
                </div>
                <div class="col-xs-6" style="margin: 0px;  padding-bottom: 3%; ">
                    <img id="cover" src="/img/cover/rise of the tomb raider.jpg"  />
                    <div class="row" id="info">
                       Rise Of The Tomb Raider
                        <br />
                        <span class="text-primary">74.90 ₺</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6" style="margin: 0px; padding-bottom: 3%; ">
                    <img id="cover" src="/img/cover/nba2k17.jpg" />
                    <div class="row" id="info">
                       NBA2K17
                        <br />
                        <span class="text-primary">149.90 ₺</span>
                    </div>
                </div>
                <div class="col-xs-6" style="margin: 0px;  padding-bottom: 3%; ">
                    <img id="cover" src="/img/cover/battlefield 1.jpg"  />
                    <div class ="row" id="info">
                        BATTLEFİELD 1
                        <br />
                        <span class="text-primary">184.90 ₺</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>