﻿@model WebApplication1.Models.Yorum

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_YorumOyun</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Yorum</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.OyunID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OyunID)
                    @Html.ValidationMessageFor(model => model.OyunID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.KullaniciID, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KullaniciID)
                    @Html.ValidationMessageFor(model => model.KullaniciID)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.YorumTuru, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YorumTuru)
                    @Html.ValidationMessageFor(model => model.YorumTuru)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Icerik, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Icerik)
                    @Html.ValidationMessageFor(model => model.Icerik)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Tarih, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tarih)
                    @Html.ValidationMessageFor(model => model.Tarih)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Gönder" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
</body>
</html>
