﻿html{
 
}
.g {
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );
padding: 2px;
}

.g > div { background: #fff; }

.verticalLine {
    border-left: thin solid #808080;
}
hr.vertical
{
   width: 0px;
   height: 100%; /* or height in PX */
} 

body{
    background-image: url("/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    opacity: 0.95;
    filter:alpha(opacity=95);
    background-attachment: fixed;
    color:white;
}
 #circle {
      width: 150px;
      height: 150px;
      -webkit-border-radius: 75px;
      -moz-border-radius: 75px;
      border-radius: 75px;
      background: rgba(40, 20, 20, 0.92);
      border:1px solid #232323;
    }
 #circle:hover{
       background: rgba(222, 70, 21, 0.89);
 }
body.clear {
    clear: both;
}
#ktgr{
    color: white; background-color: rgba(5, 5, 32, 0.98); border:1px solid #232323;
}
#ktgr:hover{
    background-color: rgba(255, 125, 83, 0.94);
}
.UrunArkaplanOyunResmi{
    background-image: url(/img/bg.jpg);
    width:100%;
    padding-top:56.25%;
}

#neonYazi{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
#glowYazi{
    text-shadow: 0 0 0.05em white;

}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
  .embed-responsive-item,
  iframe,
  embed,
  object,
  video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
}


.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}


.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.youtubevideowrap{
    width:80%;
    max-width:640px;
}

#GradTransparanSiyahTransparan
{
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.00) , black,rgba(0, 0, 0, 0.00)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(0, 0, 0, 0.00) , black,rgba(0, 0, 0, 0.00)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.00) , black,rgba(0, 0, 0, 0.00)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.00) , black,rgba(0, 0, 0, 0.00)); /* Standard syntax (must be last) */
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.95;
}
#myImg {
    border-radius: 5px;
    transition: 0.5s;
}

#myImg:hover {opacity: 0.5;}

.Scr{
}

/* The Modal (background) */


/* Modal Content (Image) */
.modal-content {
  margin:auto;
    width: 80%;
    max-width: 1500px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#myModal{

    background-color:rgba(0, 0, 0, 0.83);
}
.modal-body{
    padding:0px;
}

.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 5%;
  width:90%;
  height:80%;
}
.modal-content {
     background-color:rgba(255, 255, 255, 0.00);
  min-height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
}
.modal-body {
   
  position:absolute;
  top:45px; 
  bottom:45px;  
  left:0;
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}
#profilResmi{
    opacity:0.8;
    width:100%;
    border-width:3px;
    border-style:solid;
    border-color:rgba(255, 255, 255, 0.16);
}
#yorum{
    font-size: 13px;
    color: rgba(143, 143, 143, 0.80);
}

.footerBottom {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: arial;
    font-size: 12px;
    color: #000;
    font-weight: 400;
    line-height: 18px;
    font-style: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
}
#info {
    font-size:14px;
    color:rgb(211, 225, 255);
    background-color: rgba(0, 0, 0, 0.74);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.9), black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.9), black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.9), black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 0.9), black); /* Standard syntax (must be last) */
    left: 30px;
    right: 30px;
    bottom: 6%;
    position: absolute;
    z-index: 3;
    padding-top:30%;
}

#cover{
    width: 100%;
    opacity: 0.9;
    width:100%;
    left:0;
    position:relative;
    z-index:2;
}

#cover:hover{
   
    -webkit-animation-name:opacity;
    -webkit-animation-duration: 0.6s;
    -webkit-filter:grayscale(100%);
    opacity:1;
    
}

@-webkit-keyframes opacity {
    from {-webkit-opacity:0.2;}
    to {-webkit-opacity:1;}
     /* Safari 6.0 - 9.0 */
}

#banner{
    opacity:0.9;
}
#banner:hover{
       
    -webkit-animation-name:opacity;
    -webkit-animation-duration: 0.6s;
    -webkit-filter:grayscale(100%);
    opacity:1;
}