﻿@model WebApplication1.Models.Kullanici

@{
    ViewBag.Title = "BakiyeYukle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Session["KullaniciID"]!=null)
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="font-size:20px;" align="center">
       Bakiye Yükle
    </div>
</div>
<br />
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="height:20px;" align="center">
    </div>
    <div class="row" style="margin:3%;" align="left">
        <div class="col-md-2" align="center" style="@if(Session["KullaniciAdmin"]=="1"){<text>color:red;</text>}">
            @Session["KullaniciAdi"]
            <img class=" img-rounded" id="profilResmi" style="height:100%;" src="/img/profil/@(Session["ProfilResmi"]) " />
        </div>
        <div class="col-md-9">
            @using (Html.BeginForm("BakiyeYukle", "Kullanici", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label style="font-size:14px; color:rgba(123, 123, 123, 0.81)" for="comment">Ne Kadar Yüklemek İstiyorsunuz.</label>
                    <input type="text" name="bky" id="bky" />
                    <button type="submit" class="btn btn-default" style="color:white; background-color:rgba(117, 117, 117, 0.93)" name="yorum_buton">Yükle</button>
                </div>
               
            }
        </div>
    </div>

    <div class="row" id="GradTransparanSiyahTransparan" style="height:20px;" align="center">

    </div>
</div>
}
else
{
<text><h1 style="color:black;"><a href="@Url.Action("Giris","Hesap")">GİRİŞ YAPMALISINIZ.</a></h1></text>
}