﻿@model WebApplication1.Models.Kullanici

@{
    ViewBag.Title = "Duzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciID"] != null)
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="font-size:20px;" align="center">
        Profilimi Düzenle
    </div>
</div>
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="left">
    <div class="row" style="padding:1%;">
        <div class="col-md-2" align="center">
            Profil Resmi :
            <br />
            <img src="/img/profil/@(Model.ProfilResmi)" style="width:100%;" />
        </div>
        <div class="col-md-3">
            <br />
            <form action="@Url.Action("ProfilResmiGuncelle", "Kullanici")" method="post" enctype="multipart/form-data">
                <input type="file" name="uploadfile" id="uploadfile" style="color: white; width:100%; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                <br />
                <input type="submit" value="Profil Resmi Güncelle" class="btn btn-default" style="float: left;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 100%;" />

            </form>
        </div>

    </div>
</div>
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Adi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adi)
                    @Html.ValidationMessageFor(model => model.Adi)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Soyadi, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Soyadi)
                    @Html.ValidationMessageFor(model => model.Soyadi)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Parola, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Parola)
                    @Html.ValidationMessageFor(model => model.Parola)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OnaylaParola, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OnaylaParola)
                    @Html.ValidationMessageFor(model => model.OnaylaParola)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Kaydet" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>



}
else
{
<text><h1 style="color:black;"><a href="@Url.Action("Giris","Hesap")">GİRİŞ YAPMALISINIZ.</a></h1></text>
}