﻿@{
    ViewBag.Title = "Hesabım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciID"] != null)
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="font-size:20px;" align="center">
        HESABIM
    </div>
</div>
<br />
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="height:20px;" align="center">
    </div>
    <div class="row" style="margin:3%;" align="left">
        <div class="col-md-2" align="center" style="@if(Session["KullaniciAdmin"]=="1"){<text>color:red;</text>}">
            @Session["KullaniciAdi"]
        <img class=" img-rounded" id="profilResmi" style="height:100%;" src="/img/profil/@(Session["ProfilResmi"]) " />
        </div>
        <div class="col-md-9">
            <div class="row" style="" align="center">
                <div class="col-md-4" id="circle" style="margin:3%;">
                    <a style="color:white;" href="@Url.Action("Duzenle","Kullanici")"><br /><br /><br />Hesabımı Düzenle</a>
                </div>
                <div class="col-md-4" id="circle" style="margin:3%;">
                    <a style="color:white;" href="@Url.Action("OyunSiparislerim","Kullanici")"><br /><br /><br />Oyun Siparişlerim</a>
                </div>
                <div class="col-md-4" id="circle" style="margin:3%;">
                    <a style="color:white;" href="@Url.Action("BakiyeYukle","Kullanici")"><br /><br /><br />Bakiye Yükle</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="GradTransparanSiyahTransparan" style="height:20px;" align="center">

    </div>
</div>



}
else
{
<text><h1 style="color:black;"><a href="@Url.Action("Giris","Hesap")">GİRİŞ YAPMALISINIZ.</a></h1></text>
}