﻿@model IEnumerable<WebApplication1.Models.OyunSiparis>

@{
    ViewBag.Title = "OyunSiparislerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="background-color: rgba(0, 0, 0, 0.94); min-width:100%; padding:3%;" align="center">
    @if (Session["KullaniciID"] != null)
    {
        <text>
    <div class="row">
        <div class=" col-md-3" align="center">
            Oyun Adı
        </div>
        <div class=" col-md-1" align="center">
            Fiyat
        </div>
        <div class=" col-md-3" align="center">
            Tarih
        </div>
        <div class=" col-md-5" align="center">
            CD-KEY
        </div>
    </div>
    <br />
        </text>
        foreach (var item in Model)
        {
            <text>
    <div class="row">
        <div class=" col-md-3" align="center">
            @(item.Oyun.Adi)
        </div>
        <div class=" col-md-1" align="center">
            @(item.Oyun.Fiyat)
        </div>
        <div class=" col-md-3" align="center">
            @(item.Tarih)
        </div>
        <div class=" col-md-5" align="center">
            @(item.CdKey.Key)
        </div>
    </div>
                <br />
            </text>
        }

    }
    else
    {
        <text>Lütfen Giriş Yapın</text>
    }
</div>
<br />
<br />


