﻿
@{
    ViewBag.Title = "Siparislerim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciID"] != null)
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <a href="@Url.Action("OyunSiparislerim", "Kullanici")">Oyun Siparislerim</a>
    <a href="@Url.Action("OnlineOyunSiparislerim", "Kullanici")">Online Oyun Siparislerim</a>

</div>

}
else
{
<text><h1 style="color:black;"><a href="@Url.Action("Giris","Hesap")">GİRİŞ YAPMALISINIZ.</a></h1></text>
}