﻿
@{
    ViewBag.Title = "Basarisiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <h2>Yeterli Bakiyeniz Bulunmamaktadir.</h2>
</div>
