﻿@model WebApplication1.Models.Oyun
@{
    ViewBag.Title = "Oyun";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    
<div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
    @if (Session["KullaniciID"] != null)
    {
        if (Model.StokDurumu >= 1)
        {
            @(Model.Adi) <text>Adlı Oyunu</text> @(Model.Fiyat) <text> ₺'ya Satın Almak İçin Onayla Butonuna Basınız. </text>
            using (Html.BeginForm("Oyun", "Odeme", FormMethod.Post))
            {
               
                 @Html.Hidden("OyunId",Model.Id)
                 @Html.Hidden("KullaniciId",Session["KullaniciID"])
                <button type="submit" class="btn btn-primary" style="width:100%;">Onayla</button>
            }
            
        }
        else
        {
            <text>Bu ürün stokta yoktur. </text>
        }
    }
    else
    {
       <text>Bu Ürünü Satın Almadan Önce Siteye Giriş Yapmalısınız.</text> @Html.ActionLink("Giris","Giris", "Hesap")
    }
</div>