﻿@model IEnumerable<WebApplication1.Models.Iletisim>

@{
    ViewBag.Title = "IletisimMesajlari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Session["KullaniciAdmin"]=="1")
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="font-size:20px;" align="center">
       İLETİŞİM MESAJLARI
    </div>
</div>
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="left">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mesaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarih)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mesaj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarih)
                </td>
            </tr>
        }

    </table>
</div>
    
    }
else
{
    <text><h1 style="color:black;">Buraya Giriş Yetkiniz Yok.</h1></text>
}