﻿@model WebApplication1.Models.Oyun

@{
    ViewBag.Title = "OyunResimEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciAdmin"] == "1")
{

    <div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="left">
    <div class="row">
        <div class="col-md-6" style="padding:5%;">
            <div class="row">


                Kapak :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="cover" />

                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                Banner :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="banner" />

                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>

        </div>
        <div class="col-md-6" style="padding:5%;">


            <div class="row">
                ScreenShot 1 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs1" />


                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                ScreenShot 2 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs2" />
                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                ScreenShot 3 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs3" />

                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                ScreenShot 4 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" id="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs4" />
                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                ScreenShot 5 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs5" />
                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
            <div class="row">
                ScreenShot 6 :
                <form action="@Url.Action("OyunResimEkle", "Admin", new {oyunId=Model.Id.ToString()})" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploadfile" style="color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " />
                    <input type="hidden" name="property" id="property" value="scrs6" />
                    <input type="submit" value="Ekle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />
                    <br />
                    <hr />
                </form>
            </div>
        </div>

    </div>
        <br />
</div>



<br />




<br />
<br />


}
else
{
<text><h1 style="color:black;">Buraya Giriş Yetkiniz Yok.</h1></text>
}