﻿@model WebApplication1.Models.Oyun

@{
    ViewBag.Title = "Oyun Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciAdmin"] == "1")
{
    using (Html.BeginForm())
    {
        <div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="left">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <h4>Oyun Ekle</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="row">
                    @Html.HiddenFor(model => model.Id)
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Adi, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Adi, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323;" })
                                @Html.ValidationMessageFor(model => model.Adi)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fiyat, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Fiyat, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323; " })
                                @Html.ValidationMessageFor(model => model.Fiyat)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Kategori, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Kategori, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323;" })
                                @Html.ValidationMessageFor(model => model.Kategori)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Puan, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Puan, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323; " })
                                @Html.ValidationMessageFor(model => model.Puan)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Video, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.Video, new { @style = "color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323; " })
                                @Html.ValidationMessageFor(model => model.Video)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Platform, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Platform, new[] { new SelectListItem() { Text = "Steam", Value = "Steam" }, new SelectListItem() { Text = "Origin", Value = "Origin" } })
                                @Html.ValidationMessageFor(model => model.Platform)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MinSistem, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.MinSistem, new { @class = "form-control", placeholder = "Minimum Sistem", rows = 6, columns = 40, @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323;" })
                                @Html.ValidationMessageFor(model => model.MinSistem)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OnerilenSistem, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.OnerilenSistem, new { @class = "form-control", placeholder = "Önerilen Sistem", rows = 6, columns = 40, @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323; " })
                                @Html.ValidationMessageFor(model => model.OnerilenSistem)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Tanitim, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Tanitim, new { @class = "form-control", placeholder = "Tanıtım", rows = 6, columns = 40, @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323;" })
                                @Html.ValidationMessageFor(model => model.Tanitim)
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <br />
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Güncelle" class="btn btn-default" style="float: right;color: white; background-color: rgba(0, 0, 0, 0.90);  min-width: 20%;" />

                    </div>
                </div>
            </div>
            <br />
        </div>
    }

    <br />
    <br />
}
else
{
    <text><h1 style="color:black;">Buraya Giriş Yetkiniz Yok.</h1></text>
}