﻿@model IEnumerable<WebApplication1.Models.Oyun>

@{
    ViewBag.Title = "OyunAra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Session["KullaniciAdmin"]=="1")
{
<div class="container" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="font-size:20px;" align="center">
        DÜZENLENECEK OLAN OYUNU ARAYIN
    </div>
</div>
<div class="container" style="background-color: rgba(0, 0, 0, 0.94);   " align="center">
    <div class="row">
        @using (Html.BeginForm("OyunAra", "Admin", FormMethod.Get))
        {
            <div class="input-group" style="padding:2%; ">
                <input name="aranan" type="text" class="form-control" style="width: 100%; color: white; background-color: rgba(0, 0, 0, 0.90); max-width: 2000px; " placeholder="Ara...">
                <span class="input-group-btn">
                    <button class="btn btn-default" style="color: white; background-color: rgba(0, 0, 0, 0.90); " type="submit">Git</button>
                </span>
            </div>
        }
    </div>
</div>
<br />

<div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
    @foreach (var item in Model)
    {

        <div class=" col-xs-12 col-md-3" style="border: 1px solid #232323; margin: 0px; padding-top:3%; padding-bottom: 3%;">
            <img id="cover" src="/img/cover/@(item.Adi).jpg" />
            <div class="row">
                @item.Adi
                <br />
                <span class="text-primary">@(item.Fiyat) ₺</span>
                <br />
                <div class="row">
                </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm("OyunBilgileriDuzenle", "Admin", FormMethod.Get))
                        {
                            @Html.Hidden("oyunId", item.Id.ToString())
                            <input type="submit" value="Bilgiler" style="width: 100%; color: white; background-color: rgb(25, 12, 12); border: 1px solid #232323; " />
                        }
                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm("OyunResimEkle", "Admin", FormMethod.Get))
                        {
                            @Html.Hidden("oyunId", item.Id.ToString())
                            <input type="submit" value="Resim" style="width: 100%; color: white; background-color: rgb(25, 12, 12); border: 1px solid #232323; " />
                        }

                    </div>
                    <div class="col-md-4">
                        @using (Html.BeginForm("OyunCdKeyEkle", "Admin", FormMethod.Get))
                        {
                            @Html.Hidden("oyunId", item.Id.ToString())
                            <input type="submit" value="Cd-Key" style="width: 100%; color: white; background-color: rgb(25, 12, 12); border: 1px solid #232323; " />
                        }
                    </div>
                </div>



           

        </div>

    }

</div>

}
else
{
    <text><h1 style="color:black;">Buraya Giriş Yetkiniz Yok.</h1></text>
}