﻿@model WebApplication1.Models.Oyun

@{
    ViewBag.Title = "OyunCdKeyEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["KullaniciAdmin"] == "1")
{
<div class="row">
    <div class="col-md-2" align="center">
        @Model.Adi
        <br />
        <img src="@Model.cover" style="width:100%;" />
    </div>
</div>


<div class="row" style="">
    @using (Html.BeginForm("OyunCdKeyEkle", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label style="font-size:14px; color:rgba(123, 123, 123, 0.81)" for="comment">Cd-Key:</label>
            <input type="text" name="Key" id="Key" style="color:white; background-color:rgba(117, 117, 117, 0.93)" />
            @Html.Hidden("oyunId", ViewData["id"])
            <button type="submit" class="btn btn-default" style="color:white; background-color:rgba(117, 117, 117, 0.93)" name="yorum_buton">Ekle</button>
        </div>
    }

</div>

}
else
{
<text><h1 style="color:black;">Buraya Giriş Yetkiniz Yok.</h1></text>
}