﻿
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
  <div class="row">
      Giriş Yap
  </div>
    <hr />
    Kullanıcı Adı:<input type="text" />
    <br />
    Parola       :<input type="password" />

    
</div>
<div style="padding-bottom:27%;">

</div>
