﻿@model IEnumerable<WebApplication1.Models.Oyun>

@{
    ViewBag.Title = "Ara";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="min-width:100%; padding:0px; padding-bottom:3%;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Oyun", "Oyun", new { id=item.Id})">
                <div class=" col-xs-4 col-md-3" style="border: 1px solid #232323; margin: 0px; padding-top:3%; padding-bottom: 3%;">
                    <img id="cover" src="/img/cover/@(item.Adi).jpg" />
                    <div class="row" id="info">
                        @item.Adi
                        <br />
                        <span class="text-primary">@(item.Fiyat) ₺</span>
                    </div>
                </div>
            </a>
        }

    </div>

</div>
