﻿@model WebApplication1.Models.Iletisim

@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    <div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="left">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Iletisim</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { placeholder = " Email...", @style = "color: white; background-color: rgba(0, 0, 0, 0.90); border:1px solid #232323;" })
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mesaj, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Mesaj, new { @class = "form-control", placeholder = "Mesajınız...", rows = 10, columns = 120, @style = "color: white; background-color: rgba(0, 0, 0, 0.90);  border:1px solid #232323;" })
                        @Html.ValidationMessageFor(model => model.Mesaj)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Gönder" class="btn btn-default" style="color: white; background-color: rgba(0, 0, 0, 0.90); border: 1px solid #232323; " />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
