﻿@model IEnumerable<WebApplication1.Models.Oyun>

@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; padding-bottom:0px; " align="center">
    <div class=" row" style="">
      <h5 >Banner</h5>
    </div>
</div>
<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); padding-top:0px; padding-bottom:0px; " align="center">
    <div class=" row" style="">
        <div class="col-md-6">
            <h4>Slider</h4>
        </div>
        <div class="col-md-6">
            <div class="col-xs-6">
                <h4>Kampanya</h4>
            </div>
            <div class="col-xs-6">
                <h4>Kampanya</h4>
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-width:100%; padding:0px; padding-bottom:3%;">
    <div class="col-md-9" style="margin:0px; padding:0px; padding-right:1%; padding-bottom:2%;">
        <div class="container" style="background-color: rgba(0, 0, 0, 0.94); padding-top:5%; padding-bottom:5%;" align="center">
            @foreach (var item in Model)
            {
                <a href="@Url.Action("Oyun", "Oyun", new { id=item.Id})">
                    <div class=" col-xs-6 col-md-3" style="border: 1px solid #232323; margin: 0px; padding-top:3%; padding-bottom: 3%;">
                        <img id="cover" src="@(item.cover)" />
                        <div class="row" id="info">
                            @item.Adi
                            <br />
                            <span class="text-primary">@(item.Fiyat) ₺</span>
                        </div>
                    </div>
                </a>
            }

        </div>
        <a href="@Url.Action("Index","Oyun")"><input value="TÜM OYUNLARI GÖSTER" type="button" class="btn btn-lg" style="min-width:100%; background-color:rgba(16, 16, 16, 0.99);color:white;"></a>
    </div>

    <div class="col-md-3" style="margin:0px; padding:0px;">
        <div class="container" style="background-color: rgba(0, 0, 0, 0.94);  " align="center">
            <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                <h4>ONLİNE OYUNLAR</h4>
            </div>
            <a href="#">
                <div id="banner" style="" align="center">
                    <div class="col-xs-6 col-md-12" style="padding: 2%; border: 1px solid #232323; ">
                        <img src="/img/banner/rise of the tomb raider.jpg" style="width: 100%; " />
                    </div>
                </div>
            </a>
            <a href="#">
                <div id="banner" style="" align="center">
                    <div class="col-xs-6 col-md-12" style="padding: 2%; border: 1px solid #232323; ">
                        <img src="/img/banner/nba2k17.jpg" style="width: 100%; " />
                    </div>
                </div>
            </a>
            <a href="#">
                <div id="banner" style="" align="center">
                    <div class="col-xs-6 col-md-12" style="padding: 2%; border: 1px solid #232323; ">
                        <img src="/img/banner/battlefield 1.jpg" style="width: 100%; " />
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="jumbotron" style="background-color: rgba(0, 0, 0, 0.94); " align="center">
    <div class="row" style="border:1px solid #232323; padding-bottom:4%;">
        <div class="col-md-7">
            <ul class="nav nav-tabs" style="border-bottom: 1px solid #232323;">
                <!--<li class="active"><a data-toggle="tab" href="#home">Home</a></li>-->
                <li class="active"><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px;" data-toggle="tab" href="#menu1">Yeni Çıkanlar</a></li>
                <li><a style="color: white; background-color: rgba(0, 0, 0, 0.90); font-size: 15px; " data-toggle="tab" href="#menu2">Çok Satanlar</a></li>
            </ul>
            <div class="tab-content" style="width: 100%; font-size: 13px; color: rgb(208, 208, 208); border-right: 1px solid #232323;">
                <!--<div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>-->

                <div id="menu1" class="tab-pane active">
                    @Html.Action("TabYeniCikanlar", "Oyun")
                </div>
                <div id="menu2" class="tab-pane fade">
                    @Html.Action("TabCokSatanlar", "Oyun")
                </div>
            </div>
        </div>
        <div class="col-md-5" style="">
            <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
                <h4>EDİTÖRÜN SEÇİMİ</h4>
            </div>

            <div class="row">
                @*@Html.Action("TabBenzerler", "Oyun")*@
            </div>
        </div>
    </div>
</div>
<br />
<div class="container" style="background-color: rgba(0, 0, 0, 0.94); min-width:100%; padding:3%;" align="center">
    <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
        <h4>DONANIM</h4>
    </div>
    <div class="col-md-8" style="border:1px solid #232323;">
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>
        <div class="col-md-3" style="margin: 0px; padding-bottom: 3%; border: 1px solid #232323; ">
            <img id="cover" src="/img/cover/nba2k17.jpg" />
            <div class="row" id="info">
                NBA2K17
                <br />
                <span class="text-primary">149.90 ₺</span>
            </div>
        </div>

    </div>
    <div class="col-md-4" style="border:1px solid #232323;">
        <div class="row" id="GradTransparanSiyahTransparan" style="color:azure;" align="center">
            <h4>ÜÇLÜ FIRSAT</h4>
        </div>
        <div class="row">
            <div class="col-xs-12" style="margin: 0px; padding-bottom: 3%; ">
                <img id="cover" src="/img/cover/call of duty infinite warfare.jpg" />
                <div class="row" id="info">
                    NBA2K17
                    <br />
                    <span class="text-primary">149.90 ₺</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                FİYAT
            </div>
            <div class="col-xs-6">
                FİYAT
            </div>
        </div>
    </div>
</div>